/* .item-table{
    overflow: scroll;
} */
/* table{
    table-layout: fixed;
    width: 100%;
    font-size: 10;
}
thead > tr{
    display:block;
}
tbody > tr{
    display:block;
} */

/* th, td {
  text-align: left;
  
} */
.item-table {
  padding: 10px;
}
table th {
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(138, 180, 138);
  color: white;
}
.table-heading {
  text-align: center;
  padding: 20px;
  font-weight: 900;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  text-shadow: 1px 1px rgb(167, 166, 166);
  font-size: 23px;
}
table {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: 600;
  /* margin: 6px; */
}
